*{
               padding: 0px;
               margin: 0px;
               box-sizing: border-box;
}
body{
               font-family: IRANSansx;        
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: center; 
}
.right{
     width: 50%;
     justify-content: center;  
     align-items: center; 
          
               
}
.right .top{
               margin-top: 144px;
               margin-right: 108px;
}
.right .title{
               width: 300px;
               height: 160px;
               margin-bottom: 32px;
}
.right .top .title h1{
               font-style: normal;
               font-weight: 800;
               font-size: 48px;
               line-height: 80px;
               text-align: right;
                color: #000000;


}
.right .top p{
               font-style: normal;
               font-weight: 500;
               font-size: 16px;
               line-height: 28px;
               text-align: right;
               color: #757575;
}
.right .buttom{
               margin-right: 108px;
               margin-top: 24px;
               
                     
}



.right .buttom .title h2{
               font-style: normal;
               font-weight: 700;
               font-size: 32px;
               line-height: 48px;
               text-align: right;
               color: #000000;
}
.right .buttom .item{
               display: flex;
               justify-items: center;
               padding: 16px;
               
}
.right .buttom .item .logo{
               margin-left: 16px;
               background: url(./img/Icon.png);
               min-width: 48px;
               height: 48px;


}
.right .buttom .title-2{
  height: 48px;
  width: 210px;
              
}
.right .buttom .item-2 h3{
               font-family: 'IRANSansX';
               font-style: normal;
               font-weight: 500;
               font-size: 16px;
               line-height: 24px;
               text-align: right;
               color: #000000;
}

@media (min-width: 768px) {
               .container{
                 display: grid;
                 grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) ) ;
                 grid-gap: 2px;
               }
              }
              .container .item{
               padding: 32px;
               margin: 12px;
               margin-right: 0px;
               text-align: right;
               border: 1px solid black;
               background-color: white;
              }
              @media (min-width: 768px) {
               .service .item {
                 border: 1px solid black;
                 
               }
              }


.right .buttom .logo{
               max-width: 48px;
               height: 48px;
               background: url(./img/Icon.png);
}
.right .buttom .h3{
               margin: auto 16px;
               font-style: normal;

}


.left{
  
               
               width: 50%;
               justify-content: center;
               align-items: left;
              margin-right: 108px;
              margin-left: 108px;                     
}
.left .top{
                margin-right: 108px;
                text-align: right;
                margin-top: 144px;
                
  }
.left .top .title-3{
                 margin-bottom: 16px;
}
.left .top .title-3 h3{
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 48px;
                margin-right: -108px;
                text-align: right;

                color: #000000;
}
.left .top .container-2{
                display: flex;
                flex-direction: column;
                padding-right: 0px;
                margin-right: -108px;
}
.left .container-2 .item{
                position: relative;
                align-items: right;
                height: 88px;
   
}
.left .container-2 .item div{
               position: absolute;
               border-top: 2px solid #000000;
              padding-top: 16px;
              padding-bottom: 16px;
              width: 496px;
              line-height: 24px;
}
.left .container-2 .item div:nth-of-type(even){
  
              padding-right: 200px;
}
.left .buttom{
            display: flex;
            flex-direction: column;
            margin-top: 56px;
            
            justify-content: center;
  
}
.left .buttom .logo{
              width: 184px;
              height: 184px;
              background: url(./img/pngwing\ 1.png);
              border-radius: 50%;
              margin-right: 108px;
              
}
.left .buttom button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 184px;
            height: 56px;
            padding: 16px 29px;
            background: #5D63D1;
          border-radius: 0px;
          border: none;
          color:  #F0F0F0;
          margin-right: 108px;
          margin-top: 24px;
}

.left .buttom button h3{
            font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
}













